[user]
	email = wgrisaitis@gmail.com
	name = William C Grisaitis
[include]
	path = /Users/william/.gitalias.txt
[core]
	askpass = git-gui--askpass
	editor = atom --wait
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
